@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.frontPage  {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'left right';
}

#leftSection    {
    grid-area: left;
    background-color: #F3FA96;
   
}

#rightSection   {
    grid-area: right;
    background-color: #332b97;
    font-family: 'Playfair Display', serif;

}

#logoHolder {
    padding: 20px;
    width: 30vw;
    height: 40vh;
    margin-left:auto; 
    margin-right:0;
    margin-top: 40%;
}

#textHolder {
    padding: 30px;
    width: 50vw;
    height: 40vh;
    margin-left:0; 
    margin-right:auto;
    margin-top: 30%;
    color: #F3FA96;
    font-size: 30px;
}

#textHolder h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 800;
}

#connect {
    width: 30%;
    height: 10%;
    padding: 20px;
    margin-right: 0px;
    margin-top: 10px;
    margin-left: auto;  
}

#connect a{
    padding: 15px;
    background-color: #F3FA96 ;
}

#connect a:hover    {
    background-color: white;
    border-color: black;
    border-width: 3px;
}